<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toda.yjkf">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.toda.yjkf.HouseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.toda.yjkf.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.toda.yjkf.LoginActivity"
            android:screenOrientation="portrait" >

        </activity>
        <!--图片查看-->
        <activity
            android:name="com.toda.yjkf.PhotoViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.toda.yjkf.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a05b08f98fb4ddc6f5a55863a17d0bf6" />
        <!--选择城市-->
        <activity android:name="com.toda.yjkf.ChooseCityActivity" android:screenOrientation="portrait"/>
        <!--产看户型-->
        <activity android:name="com.toda.yjkf.HouseTypeActivity" android:screenOrientation="portrait"/>
        <!--产看楼盘-->
        <activity android:name="com.toda.yjkf.EstateActivity" android:screenOrientation="portrait"/>
        <!--个人中心-->
        <activity android:name="com.toda.yjkf.UserCenterActivity" android:screenOrientation="portrait"/>
        <!--红包-->
        <activity android:name="com.toda.yjkf.RedPacketActivity" android:screenOrientation="portrait"/>
        <!--红包详情-->
        <activity android:name="com.toda.yjkf.PacketDetailActivity" android:screenOrientation="portrait"/>
        <!--提现-->
        <activity android:name="com.toda.yjkf.WithdrawalActivity" android:screenOrientation="portrait"/>
        <!--积分-->
        <activity android:name="com.toda.yjkf.MyPointsActivity" android:screenOrientation="portrait"/>
        <!--礼品-->
        <activity android:name="com.toda.yjkf.MyGiftActivity" android:screenOrientation="portrait"/>
        <!--礼品详情-->
        <activity android:name="com.toda.yjkf.GiftDetailActivity" android:screenOrientation="portrait"/>
        <!--优惠券-->
        <activity android:name="com.toda.yjkf.MyCouponActivity" android:screenOrientation="portrait"/>
        <!--优惠详情-->
        <activity android:name="com.toda.yjkf.CouponDetailActivity" android:screenOrientation="portrait"/>
        <!--个人资料-->
        <activity android:name="com.toda.yjkf.MyProfileActivity" android:screenOrientation="portrait"/>
        <!--设置-->
        <activity android:name="com.toda.yjkf.SettingActivity" android:screenOrientation="portrait"/>
        <!--我的收藏-->
        <activity android:name="com.toda.yjkf.MyCollectionActivity" android:screenOrientation="portrait"/>
        <!--修改地址-->
        <activity android:name="com.toda.yjkf.EditAddressActivity" android:screenOrientation="portrait"/>
        <!--修改年龄-->
        <activity android:name="com.toda.yjkf.EditAgeActivity" android:screenOrientation="portrait"/>
        <!--修改邮箱-->
        <activity android:name="com.toda.yjkf.EditEmailActivity" android:screenOrientation="portrait"/>
        <!--修改性别-->
        <activity android:name="com.toda.yjkf.EditGenderActivity" android:screenOrientation="portrait"/>
        <!--修改身份证-->
        <activity android:name="com.toda.yjkf.EditIdentityActivity" android:screenOrientation="portrait"/>
        <!--修改用户名-->
        <activity android:name="com.toda.yjkf.EditNicknameActivity" android:screenOrientation="portrait"/>
        <!--修改手机号-->
        <activity android:name="com.toda.yjkf.EditPhoneActivity" android:screenOrientation="portrait"/>
        <!--修改真实姓名-->
        <activity android:name="com.toda.yjkf.EditTrueNameActivity" android:screenOrientation="portrait"/>
        <!--修改婚姻状态-->
        <activity android:name="com.toda.yjkf.ChangeMarriageStatusActivity" android:screenOrientation="portrait"/>
        <!--修改居住城市-->
        <activity android:name="com.toda.yjkf.ChangeLivingCityActivity" android:screenOrientation="portrait"/>
        <!--顾问-->
        <activity android:name="com.toda.yjkf.MyCounselorActivity" android:screenOrientation="portrait"/>


        <service android:name="com.amap.api.location.APSService"/>
    </application>

</manifest>